.parallax-container {
  max-width: 1060px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h3 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: rgba(207,216,220,0.5);
}
section.module.content:last-child {
  margin-bottom: 60px;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-blend-mode: screen;
}
section.module.parallax h1 {
  font-family: 'Dancing Script', cursive;
}
section.module.parallax h1, h2 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax p {
  color: #1e1e1e;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  min-height: 100vh;
  background: image-url("Pic1.jpg");
}
section.module.parallax-2 {
  background-image: url("https://images.unsplash.com/photo-1540315748953-deaf79848e06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  }
section.module.parallax-3 {
  background-image: url("https://images.unsplash.com/photo-1527751171053-6ac5ec50000b?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
section.module.parallax-4 {
  background-image: url("https://images.unsplash.com/photo-1527751171053-6ac5ec50000b?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 26px;
  }
  section.module.parallax {
    padding: 200px 0;
  }
  section.module.parallax h1 {
    font-size: 50px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 60px;
  }
}
