<div class="footer">
  <div>
    <h4>Contact</h4>
    <p>Name will go here</p>
    <p>Phone number</p>
    <p>Email address</p>
  </div>

  <div class="footer-links">
    <%= link_to '', 'https://www.instagram.com/buffetdenizecarvalho/?hl=en', class: "fab fa-instagram" %>
    <%= link_to '', 'https://www.facebook.com/buffet-denize-carvalho-738086786325136/', class: "fab fa-facebook" %>
  </div>
</div>
