<nav class="nav">
  <div class="logo home_link">
    <a href="#">Home</a>
  </div>
  <div id="mainListDiv" class="main_list">
    <ul class="navlinks">
      <li><a href="#events">Eventos</a></li>
      <li><a href="#products">Produtos</a></li>

      <!-- Save for possible future addition -->

      <!-- <li><a href="#testimonials">Depoimentos</a></li> -->

      <li><a href="#contact">Contato</a></li>
    </ul>
  </div>
  <span class="navTrigger">
    <i></i>
    <i></i>
    <i></i>
  </span>
</nav>
