<div id="slider_id" class="slider">
  <div class="slider-control next"><i class="fas fa-chevron-right fa-4x"></i></div>
  <div class="slider-control prev"><i class="fas fa-chevron-left fa-4x"></i></div>
  <div class="slider-nav"></div>

  <div class="item active" >
    <div class="item-content">
      <div class="comment">
        <div>
          <i class="fas fa-quote-left fa-3x"></i>
        </div>
        <div class="comment-content">
          <p>3rd February</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="item-content">
      <div class="comment">
        <div>
          <i class="fas fa-quote-left fa-3x"></i>
        </div>
        <div class="comment-content">
          <p>14th January</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="item-content">
      <div class="comment">
        <div>
          <i class="fas fa-quote-left fa-3x"></i>
        </div>
        <div class="comment-content">
          <p>18th March</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="item-content">
      <div class="comment">
        <div>
          <i class="fas fa-quote-left fa-3x"></i>
        </div>
        <div class="comment-content">
          <p>16th April</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
          <p>Lorem ipsum dolor sit amet, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
