<div class="jumbotron-fluid">
  <section class="module parallax parallax-1" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Motion</h1>
    </div>
  </section>

  <section  class="module content">
    <div class="parallax-container">
      <h2>Lorem Ipsum Dolor</h2>
      <p>Lorem ipsum dolor...</p>
    </div>
  </section>

  <section class="module parallax parallax-2" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Shape</h1>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h2>Lorem Ipsum Dolor</h2>
      <p>Lorem ipsum dolor...</p>
    </div>
  </section>

  <section class="module parallax parallax-3" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Color</h1>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h2>Lorem Ipsum Dolor</h2>
      <p>Lorem ipsum dolor...</p>
    </div>
  </section>
</div>
