<div class="jumbotron-fluid">

  <section class="module parallax parallax-1" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Buffet Denize Carvalho</h1>
      <h3>Celebrando a vida com requinte, qualidade e sabor</h3>
      <p class="button-style">
        <button class="contact-button">
          <a href="#contact">Contato</a>
        </button>
      </p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>Empresa</h3>
      <p>Há mais de 15 anos no mercado de eventos em Salvador e região metropolitana, o Buffet Denize Carvalho tem como objetivo fornecer a você e seus convidados uma experiência única e memorável.</p>
      <p>Priorizamos a combinação de ingredientes de qualidade criteriosamente selecionados, a higiene do ambiente e manipulação dos nossos produtos, a riqueza nos detalhes dos produtos ofertados e um planejamento personalizado para atender às suas necessidades.</p>
      <p>Contamos com uma equipe de profissionais qualificados e engajados em oferecer para o seu evento uma experiência sensacional e inesquecível. Nosso compromisso com nossos clientes é traduzir sonhos e desejos em realidade.</p>
    </div>
  </section>

  <section id="events" class="module parallax parallax-2" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h2>Eventos</h2>
      <p>Fazemos do seu evento um grande momento</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>Eventos</h3>
      <p>O Buffet Denize Carvalho oferece aos seus clientes serviço de excelência em eventos sociais, tais como, casamentos, festas de debutantes, formaturas, bodas, festas de aniversário, batizados, chás de bebê e happy hours. Além de abrilhantar em eventos corporativos.</p>
      <p>Não encontrou seu evento descrito aqui? Entre em contato conosco! Oferecemos um serviço personalizado e diferenciado.</p>
      <%= render "card" %>
    </div>
  </section>


  <section id="products" class="module parallax parallax-3" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h2>Nossos Produtos</h2>
      <p>Veja abaixo uma pequena amostra de nossa gastronomia</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>Nossos Produtos</h3>
      <p>Com paixão e criatividade, trabalharemos com você para montar um menu que atenda às suas necessidades, seja  simples ou extravagante. Independente da dimensão, seu evento será sempre grandioso e importante para nós. Temos o prazer de gerar uma relação agradável entre o sabor, a beleza, o requinte e a memória de um momento tão especial para você e seus convidados.</p>

      <%= render "products" %>

    </div>
  </section>

  <section id="testimonials" class="module parallax parallax-4" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h2>Depoimentos</h2>
      <p>Segue algumas declarações de nossos clientes</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>Depoimentos</h3>
      <div class="comments">
      <%= render "slideshow" %>
      </div>
    </div>
  </section>
  <section class="module content">
    <div class="parallax-container">
      <h3>Buffet Denize Carvalho</h3>
      <p>Temos prazer em lhe proporcionar satisfação e paz de espírito para o dia do seu grande evento. Venha se encantar com o sabor de nossa gastronomia!</p>
      <p>Quando pensar em requinte e celebração de momentos únicos, fale conosco e seja o convidado especial do seu evento.</p>
    </div>
  </section>
</div>
<section id="contact"></section>
