<div class="jumbotron-fluid">
  <section class="module parallax parallax-1" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Buffet Denize Carvalho</h1>
      <p>We do great events</p>
      <p>Contact me button</p>
    </div>
  </section>

  <section  class="module content">
    <div class="parallax-container">
      <h2>Events</h2>
      <p>Here are the types of events that we do...</p>
      <p>Pictures/ cards of events will go here...</p>

      <%= render "card" %>

    </div>
  </section>

  <section class="module parallax parallax-2" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Products</h1>
      <p>We use only the best ingredients</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h2>Our Products</h2>
      <p>Here are some of the things we make/ services performed...</p>
      <p>Pictures/ cards of products will go here...</p>

      <%= render "card" %>

    </div>
  </section>

  <section class="module parallax parallax-3" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Feedback</h1>
      <p>What people are saying...</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h2>What people said</h2>
      <p>list of comments will go here...</p>
    </div>
  </section>
</div>


<!-- contact -->
