<div class="jumbotron-fluid">

  <section class="module parallax parallax-1" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Buffet Denize Carvalho</h1>
      <p>We do great events</p>
      <p class="button-style">
        <%= link_to 'Contact', root_path, class: "contact-button" %>
      </p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>We can help you for your next event</h3>
      <p>Great service...</p>
      <p>Great quality...</p>
    </div>
  </section>

  <section id="events" class="module parallax parallax-2" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h2>Events</h2>
      <p>Here are the types of events that we do...</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>Events</h3>
      <p>We do the following events...</p>
      <p>Don't see what you are looking for, ask us...</p>
      <%= render "card" %>
    </div>
  </section>


  <section id="products" class="module parallax parallax-3" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h2>Products</h2>
      <p>We use only the best ingredients</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>Our Products</h3>
      <p>Here are some of the things we make/ services performed...</p>
      <p>Pictures/ cards of products will go here...</p>
      <%= render "products" %>
    </div>
  </section>

  <section id="testimonials" class="module parallax parallax-4" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h2>Testimonials</h2>
      <p>What people are saying...</p>
    </div>
  </section>

  <section class="module content">
    <div class="parallax-container">
      <h3>What people said</h3>
      <p>list of comments will go here...</p>
    </div>
  </section>
</div>
